[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[scripts]
lint = "flake8 nbcollate"
test = "env PYTHONPATH=. pytest"

[dev-packages]
pytest = "*"
flit = "*"
keyring = "*"

[packages]

[requires]
python_version = "3.6"
